*{
	padding: 0;
	margin: 0;
}
   
#header{
	background-image: url('../img/bg.png');
	background-position: center 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
h1.main-h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px!important;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: #db3333;
	border-color: #db3333;
}
button.online {
    color: #fff;
    background-color: #df191a;
    margin-bottom: 45px;
    border: none;
    margin-bottom: 34px;
    padding: 14px 25px;
    
}
button.online:hover, button.online:active, button.online:active, button.online:focus{
	background-color: #db3333;
	border-color: #db3333;
}
h2.h2-services{
	font-weight: bold;
	color: #e01a1b;
}
#map {
	height: 350px;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.main-logo{
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-image: url(../img/main-logo.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
}

hr.bottom-line {
    height: 1px;
    opacity: 0.3;
    margin-top: 12px;
}

.menu{
	width: 35%;
	height: auto;
	float: left;
}
img.menu-img {
    margin-top: 25px;
    margin-bottom: 0px;
    cursor: pointer;
}
.language{
	width: 35%;
	height: auto;
	float: left;

}
.logo{
    width: 100%;
	height: auto;
	float: left;
	margin-top: 6px;
}
img.facebook-img{
	float: left;
	cursor: pointer;
}

img.instagram-img {
    float: right;
	cursor: pointer;
}

.social-block {
    width: 88px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 55px;
}

hr.bottom-line-left {
    margin-top: 11px;
    height: 1px;
    color: #fff;
    opacity: 0.35;
}
h2.h2-services{
	color: #e01a1a;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
img.knife{
	float: left;
}

hr.red-hr {
    float: left;
    width: 46%;
    border-color: #e01a1a;
}
img.knife {
    float: left;
    padding-left: 13px;
    padding-right: 2px;
    padding-top: 2px;
}
section#services,section#masters, section#gallery, section#contacts{
	background-color: #0b0b0b;
}
span.services {
    color: #e01a1a;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

span.services {
    color: #e01a1a;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

p.services {
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
}
p.address, p.time, p.phones {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
img.map {
    padding-right: 11px;
}
img.clock {
    padding-right: 5px;
}
img.phone {
    padding-right: 8px;
}
p.phones.phones2 {
    padding-left: 26px;
}
button.btn-primary.online.center-block.services-button {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0px;
    margin-top: 30px;
    padding: 15px 30px;
    
}
ul.services {
    margin-left: 50px;
}
ul.services > li {
	list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 29px;
    margin-top: 15px;
}
.col-md-8.rm-padding {
    padding-right: 0px;
}
h3.master-name {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #e01a1a;
    padding-top: 255px;
    font-weight: 700;
    float: left;
}
a.social-links {
	width: 22px;
    height: 21px;
    display: block;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
a.social-links > img{
	width: 100%;
}
.social-links-block {
    position: relative;
    right: 30px;
    float: right;
    top: 30px;
    z-index: 10;
}
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.col-md-4.rm-padding {
    padding: 0px;
}
.main-menu{
	/*width: 16.66666667%;*/
	padding: 0;
	margin: 0;
}

.rm-padding{
	padding: 0;
	margin: 0;
}
ul.contacts{
	width: 100%;
}
ul.contacts > li{
	list-style-type: none;
	display: inline-block;
	padding-right: 48px;
}

ul.contacts > li > img{
	float: left;
	padding-right: 6px;
}
ul.contacts > li > p{
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #FFF;
}

img.contact-map-img {
    width: 14px;
}

img.contact-clock-img {
    width: 19px;
}

img.contact-phone-img {
    width: 19px;
}

ul.contacts > li > ul {
	float: right;
}

ul.contacts > li > ul > li{
	list-style-type: none;
	display: inline-block;
	padding-left: 20px;
}

li.social-li {
    float: right;
    padding-right: 0px!important;
    margin: 0px;
}

li.social-li > ul > li > a > img {
	float: right;
    width: 16px;
}

li.social-li > ul > li  {

}

p.second-number {
    padding-left: 25px;
}

ul.contacts {
    padding-top: 55px;
    padding-bottom: 15px;
}

p.copiright-p.text-center {
    padding: 10px 0px;
    margin: 0px;
    font-size: 12px;
    color: #fff;
}

.copiright {
    background-color: #0b0b0b;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
img.master-img {
    width: 100%;
}
h3.master-name {
    position: absolute;
    bottom: 15px;
}