*{
	padding: 0;
	margin: 0;
}
#header{
	background-image: url('../img/bg.png');
	background-position: center 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
h1.main-h1{
	color: #fff;
	-webkit-background-size: 20px;
	background-size: 20px;
}
button.online{
	color: #fff;
	background-color: #df191a;
	border: none;
	padding: 10px;
}
button.online:hover{
	background-color: #df191a;
}
h2.h2-services{
	font-weight: bold;
	color: #e01a1b;
}
#map {
	height: 300px;

}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}